openapi: 3.0.2
info:
  version: 1.0.0
  title: ShapesAI - Deep Visual Reasoning
  contact:
    name: hello@shapes
    email: hello@shapes.ai
    url: "https://shapes.ai"
  x-logo:
    url: "https://storage.googleapis.com/dvr-assets/shapes-logo-black.svg"
  description: |
    # Introduction

    This is the documentation for the Deep Visual Reasoning (DVR) API.

    The API can be used to process video content and extract events of interest.

externalDocs:
  description: the public repository for theAPI specification is available at https://shapes-a1.github.io/dvr-openapi
  url: "https://shapes-a1.github.io/dvr-openapi"

tags:
  - name: Jobs
    description: Jobs operations allow clients to submit videos for processing and retrieve information about their status
  - name: JobOutput
    description: This JSON scheme is not returned directly by the API. It can be accessed once a job has been processed by accessing the `output_url` value returned from GETing job/job-id
  - name: Usage
    description: Usage operations allow clients to retrieve information about their compute quota usage
servers:
  - url: "https://dvrbeta.shapes.ai/api"
paths:
  "/jobs/{id}":
    $ref: "paths/jobs@{id}.yaml"
  "/output":
    $ref: "paths/job_output.yaml"
  "/usage":
    $ref: "paths/usage.yaml"
components:
  securitySchemes:
    api_key:
      description: |
        This scheme relies on authenticating users by having them present an `Authorization` header containing the value `Bearer` followed by their API Key.

        Example `Authorization: Bearer my-api-key`

        API Key can be requests by submitting an email to developer@shapes.ai
      type: apiKey
      in: header
      name: Authorization
